body {
    font-family: 'Kanit', sans-serif ; /* Schriftart für den gesamten Text im Body */
    background-color: white; /* Hintergrundfarbe des Body */
    font-size:100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "header header header header header header"             "Concept Concept Concept Concept Concept Concept"
        "Main Main Main Main Main Main"
        "Footer Footer Footer Footer Footer Footer";
        grid-template-rows:  5% 80% 10%;
        grid-template-columns: repeat(6, 1fr);
       
    }
    
head{
     
    
    

}

/* Überschrift */
.headerandnav {
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: rgb(149, 240, 240); /* Dunkler Hintergrund */
    position: sticky;
    top:0;
    z-index: 100;
    width: 100%;
    height: 100%;

    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Schatten für den Header */
    
   
    background-image: url('fitness-background.jpg'); /* Hintergrundbild für den Header */
    background-size: cover; /* Hintergrundbild an den Header anpassen */
    color: rgba(14, 13, 13, 0.655); /* Weiße Schriftfarbe */
    border-bottom-left-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.headerandnav:scrolled{
    background-color: rgb(240, 240, 251);
   
    color:rgb(201, 36, 36)
}


.header {
    grid-area: header;  
    text-align: center; /* Zentrieren der Überschrift */

    text-transform: uppercase;
    display: inline-flex;
   
    font-size: 200%; /* Größe der Überschrift */
    font-family: 'Berlin sans FB'; /* Schriftart der Überschrift */
    letter-spacing: 0.2em; /* Buchstabenspacing der Überschrift */
    text-decoration: underline ; /* Dekoration der Überschrift */
    text-transform: uppercase; /* Uppercase (Großbuchstaben) für die Überschrift */
    grid-row: 1/2;

}
.navigation {
    grid-area: header;
    padding: 0.005em;
    justify-content: center;
    display: inline;
    grid-row-start: 3;
}
#navigation {
    list-style: none; /* Entfernt Listenpunkte-Stile */
   
}

.navi a{
    color: #000;
    text-decoration: underline solid 0.02em;
    
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    
    transition: color 0.3s ease-in-out; /* Übergangseffekt für Textfarbe */
}

.navi{



    
}

.navi a:hover {
    color: rgb(225, 12, 12); /*Farbänderung bei Hover (Mauszeiger darüber) */
}

/* Hinzufügen eines Overlay-Farbeffekts beim Schweben über den Header */
.headerandnav:hover {
    background-color: rgba(214, 250, 83, 1); /* Halbtransparente dunkle Farbe */
}

.maingrid{
    grid-area: Main;
}
.untertitel{
    display: flex;
    
    grid-area: Main;
    justify-content: center;
    justify-self: center;
    grid-area: main; 
    grid-column: 4/5;
    text-align: center;
    font-size: 2em;
   
    color: hsla(0, 0%, 0%, ); /* Transparenter Hintergrund */
    top: 52%;
    transition: color  500ms ease-in-out; /* Übergangseffekt für Hintergrundfarbe */
    /* Weitere Stilregeln für deinen Header und die Navigation... */
    border: 1px dotted black;
}

.untertitel.transparent {
    color: hsl(202, 79%, 97%, 0.9); /* Transparenter Hintergrund beim Scrollen */
    /* Weitere Stilregeln für den Hauptbereich... */
}

.height{
    height: 400px;
}

.section {
    top: 55% ;
    font-size: 1em;
    font-weight: 530;
}


.beginning{
}

#text{
    z-index: 100;
}


.txtconcept{
    color: blue;

}
