html {
    scroll-behavior: smooth;
}
body {
    display: fixed;
    font-family: 'Kanit', sans-serif ; /* Schriftart für den gesamten Text im Body */
    background-color: white; /* Hintergrundfarbe des Body */
    width: 100vw;
    background-image: url(../html/pics/BACKS.png) ; /* Hintergrundbild des Body */
    background-color: rgba(255, 255, 255, 0.9);
    
       
main{
    display: flex;
    grid-template-areas: left mid right;
    grid-template-columns: 1fr 52% 1fr;

}
    }
/* Überschrift */
.headerandnav {
    display: inline-flexbox;
    
    justify-content: center;
    background-color: rgb(149, 240, 240); /* Dunkler Hintergrund */
    position: sticky;
    top:0;
    z-index: 100;
    
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Schatten für den Header */
    
    color: rgba(14, 14, 13, 0.934); /* Weiße Schriftfarbe */
    border-bottom-left-radius: 30px;
    transition: background-color 450ms ease-in;

}

/* Hinzufügen eines Overlay-Farbeffekts beim Schweben über den Header */

.headerandnav.scrolled{
    background-color: rgba(149, 240, 240, 0.667); /* Dunkler Hintergrund */
    height:100vh;
    width: 10%;
    position: fixed;
    right: 0;
    top: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 3%;
    overflow: auto;
    z-index: 100;
    
    
}
.headerandnav.scrolled a{
    color:rgba(201, 36, 36, 0.623);
    align-items: flex-end;
    text-justify: justify;
    margin: 1rem;
    margin-top:-1rem;

    font-size: 0.75rem;
}
.headerandnav.scrolled h1 {
    display: none;
}

.totop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 3.5rem;
    cursor: pointer;
}

.header {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-size: 3rem; /* Größe der Überschrift */
    font-family: 'Berlin sans FB'; /* Schriftart der Überschrift */
    letter-spacing: 0.2em; /* Buchstabenspacing der Überschrift */
    text-decoration: underline ; /* Dekoration der Überschrift */
    text-transform: uppercase; /* Uppercase (Großbuchstaben) für die Überschrift */

}

.navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    
}

/*Liste:*/
.headerandnav .navi{
    list-style: none;   
    display: inline-flex;
    flex-direction: row;
    
    
    color:rgba(0, 0, 0, 0.2);
       
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}



.navi a{
    
    margin: 1.4rem 2rem;
}
.navi a:hover {
    background-color: rgb(252, 242, 242); /*Farbänderung bei Hover (Mauszeiger darüber) */
    transition: all 2 stepstart;
}



/*Untertitel*/
.untertitel{
    
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.2em;
    padding-top: 0.2em;
    transition: all 450ms ease-in;
}


.untertitel h2{
    align-self:center

}

@keyframes scaleUp {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2)   rotate(180deg);
    }   
    100% {
        transform: scale(1.4 ) rotate(360deg);
    }
    
}   
.Subtimg {
    display: inline-flex;
    margin-left: 0.5em;
    vertical-align:text-bottom;
}




.Subtimg:hover {
    animation: scaleUp 1s ease-in-out forwards;
    border-radius: 10%;
}

.untertitel.transparent {
    color: hsl(202, 79%, 97%, 0.9); /* Transparenter Hintergrund beim Scrollen */
    /* Weitere Stilregeln für den Hauptbereich... */
}



.section {
    top: 55% ;
    font-size: 1em;
    font-weight: 530;
}

/*Content*/
.section p{
    font-size: 1.5em;
    text-align: center;
    
    max-width: 52%;
    padding-bottom: 4rem;
    font-weight: 530;
    color: black;
    font-family: 'Kanit', sans-serif ;
    line-height: 1.5;
}
#text{
    z-index: 100;
}


.txtconcept{
    color: blue;

}

/*Calculator*/
.Calculatorlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    margin-top: -2%;
    font-size: 1.5em;
    text-align: center;
    
    font-weight: 600;
    color: black;
    font-family: 'Kanit', sans-serif ;
    line-height: 1.5;
}

.Calculatorlist a{
    color: black;
    text-decoration: none;
    text-align: center;
    
    font-weight: 600;
    color: black;
    font-family: 'Kanit', sans-serif ;
    line-height: 1.5;
}
/*Calculator BMI*/
.CalcBMI{
    grid-column: 1/2;
    display: flex;
    margin-top: -2%;
    flex-direction: column;
    align-content: start;
    width: 52%;
    padding: 2%;
    border: dashed rgb(89, 176, 167);
    margin:  2.5rem auto;
}

#BMIButton{
    display: flex;
    position: relative;
    margin: 0 auto;
    border:solid rgb(89, 176, 167);
    min-height: 5rem ;
    border-radius: 40%;
    justify-content: center;
    align-items: center;

    background-color: rgb(149, 240, 240);
    font-size: 1.5rem;
    top: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    font-weight: 600;
}


#BMIButton:hover{
    background-color: rgb(89, 176, 167);
    color: white;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0.5rem 1rem #458093;
}


.CalcBMI .weight,
.CalcBMI .height{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#height, 
#weight{
    display: flex;
    justify-content: center;

    position: relative;
   
}

.calculator{
    display: flex;
    justify-content: center;
}
  


  #valueweight{
    position: absolute;
    left: 50%;
    justify-content: center;
    text-align: center;

    
    transform: translateX(-50%);
    font-size: 1.25rem;
    font-weight: bold;
  }
.weight{
    margin-bottom: 2rem;
    align-items: center;
}

#valueheight{
    position: absolute;
    text-align: center;
    margin-bottom: 3%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 6%;
}

#result{
    text-align: center;
}

table {
    font-family: 'Kanit', sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    text-align: center;

  }

  th, td {
    border: 2px solid #bab6b6;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

.CalcCalory{
    grid-column: 1/2;
    display: flex;
    margin-top: -2%;
    flex-direction: column;
    align-content: start;
    width: 52%;
    padding: 2%;
    border: dashed rgb(89, 176, 167);
    margin:  2.5rem auto;
}
.calQuestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 2%;
    border: dashed rgb(89, 176, 167);
    margin:  auto;
    text-align: center;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
  input[type=number], select {
    display: block;
    margin: 1rem auto;
    width: 10rem;
    height: 3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}


p{
    font-size: 1.5em;
    text-align: justify;
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
    font-weight: 530;
    color: black;
    font-family: 'Kanit', sans-serif ;
}



h2{
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 2rem;
    font-weight: 530;
    color: black;
    font-family: 'Kanit', sans-serif ;
}

h3{
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
    font-weight: 530;
    color: black;
    font-family: 'Kanit', sans-serif ;
}


/*Slider Style*/
input[type=range] {
    width: 50%;
    height: 6rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    background: radial-gradient(#4c96af, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    transition: .2s;
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 3rem;
    width: 3rem;
    background: #47bde8;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track {
    width: 100%;
    height: 2rem;
    cursor: pointer;
    background: #50b1ed;
    border-radius: 3%;}